.ant-row{
    align-items: center;
}
.ant-row, .ant-row:after, .ant-row:before {
    display: flex;
    /* justify-content: flex-end; */
}
.text{
    color: #255C66;
    font-size: 2rem;
}
.customer_container{
    background-color: white;
    padding: 10px 20px;
}