#succ_img {
  width: 60%;
  margin-top: 12rem;
  margin: auto;
}
.success_box {
    height: 100vh;
    padding: 2rem 3rem;
    background-color: var(--bg-color);
}

#congrats {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--low-opacity-8);
  text-align: center;
  margin-top: 4.4rem;
}
#succ_p {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
  color: var(--low-opacity-45);
}


.viewStore{
    text-align: center;
    display: flex;
}