:root {
    --primary: #255C66;
    --secondary: #F0F2F5;
    --white-color:#fff;
    --low-opacity-8:rgba(0, 0, 0, 0.85);
    --low-opacity-45: rgba(0, 0, 0, 0.45);
    --low-opacity-55: rgba(0, 0, 0, 0.55);
    --black-color: black;
    --active-color: #66cca1;
    --bg-color:#F0F2F5;
    --detail-heading: #255C66;
    --comp-bg:var(--white-color);
    --comp-padding: 10px 20px;
  }