#blueButton{
    background-color: #108EE9;
}
#order_h1{
    font-size: 2rem;
    color: #255C66;
}
#cancelButton{
    background: #FF5500;
    color: white;
}
.left_col_container{
    background-color: white;
}
.right_col_container{
    background-color: white;
}
hr{
    opacity: 0.5;
}