#blueButton {
  background-color: #108ee9;
}
#order_h1 {
  font-size: 2rem;
  color: #255c66;
}
#cancelButton {
  background: #ff5500;
  color: white;
}
.right_col_container {
  background-color: white;
  padding: 19px 14px;
  border-radius: 4px;
}
hr {
  opacity: 0.5;
}
#cutomer_detail #order_details {
  font-weight: 500;
  font-size: 1.6rem;
  color: #255c66;
}
.left_col_container {
  background-color: #fff;
  padding: 19px 14px;
  border-radius: 4px;
}
.left_second{
  background-color: #fff;
  padding: 19px 14px;
  border-radius: 4px;
  margin-top: 2rem;
}
#pricing_details{
  color: #255C66;
  font-size: 1.2rem;
  font-weight: 500;
}
#refund_details{
  font-size: 1.8rem;
  color: #255c66;
}
